VITE_GITHUB_TOKEN=
VITE_GITHUB_OWNER=ke754
VITE_GITHUB_REPO=-5
VITE_GITHUB_BRANCH=main
VITE_GITHUB_FILE_PATH=data/institute_cloud_data.json
VITE_GITHUB_REPO_URL=https://github.com/ke754/-5
VITE_GOOGLE_CLIENT_ID=970804063138-q1kede8kkfemrvg0n9cgsno4kv8kt6mk.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
